* {
    font-family: Calibri, sans-serif;

}

/* ---------------NAVIGATION BAR-----------------*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    align-items: center;
    background-color: #051929;
    font-family: Calibri, sans-serif;
    color: #ede4d5;
    height: 80px;
}

.right-side-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sign-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Remove unnecessary semicolon */
}

.user-icon img {
    height: 100%; /* Adjust to ensure consistent sizing */
    width: 20px;
    margin-right: 15px;
    background-color: #051929;
}

.right-side-content a {
    padding-right: 10px;
    border-right: 1px solid #ede4d5;
    margin-right: 15px;
    text-decoration: underline;
    color: #ede4d5;
}


.right-side-content a:hover {
    color: #74BFB5;
}


.log-out-button {
    padding: 0 10px;
    border: 1px solid #ede4d5;
    margin: 0 15px;
    background-color: #051929;
    color: white;
    border-radius: 5px;
}

.logo {
    margin-left: 40px;
}

.logo img {
    height: 50px;
}

/* ---------------NAVIGATION BAR-----------------*/

/* -------------------HOME PAGE-----------------*/

.home-page-content {
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.most-watched {
    padding: 30px 40px;
}

.movie-previews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: #ede4d5;
    padding: 20px;
    /*box-shadow: 0px 2px 9px #413726, 0px 0px 2px #413726;*/
}


.movie-previews img {
    width: 180px;
    height: 270px;
    border-radius: 15px;


}


.movie-previews div {
    transition: transform 0.3s ease-in-out;
}

.movie-previews div:hover {
    transform: scale(1.4);
}

.most-watched h1 {
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: #D13A00;
    border-bottom: 3px solid #D89747;
    padding-bottom: 5px;
}

.find-a-movie {
    padding: 10px 40px;
}

.find-a-movie h1 {
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: #D13A00;
    border-bottom: 3px solid #D89747;
    padding-bottom: 5px;
}

.search-form {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #051929;
    background-color: #ede4d5;

}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 20px;
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submit-button {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.submit-button button {
    background-color: #74BFB5;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 200px;
    height: 30px;
}

.input label {
    margin-bottom: 20px;
}

/* -------------------HOME PAGE-----------------*/


/* ------------------FOOTER---------------------*/

footer {
    display: flex;
    background-color: #051929;
    font-family: Calibri, sans-serif;
    color: #ede4d5;
    font-weight: bolder;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
}

.left-side-footer {
    display: flex;
    flex-direction: row;

}

footer a {
    color: #ede4d5;
    border-bottom: #ede4d5;
}

.contact-us {
    padding: 10px;
    text-decoration: underline;
}

.contact-us a:hover {
    color: #74BFB5;
}

.terms {
    padding: 10px;
    border-left: 1px solid #ede4d5;
    text-decoration: underline;

}

.terms a:hover {
    color: #74BFB5;
}


.social-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 880px;
}

.social-container img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}


#x-logo{
    background-color: black;
    border-radius: 10px;
}

/* ------------------FOOTER---------------------*/


/*--------------ADVANCED MOVIE SEARCH PAGE----------------*/
.advanced-search-content {
    padding: 30px 40px;
    height: calc(100% - 160px);
}

.advanced-search-content h1 {
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #D13A00;
    border-bottom: 3px solid #D89747;
    padding-bottom: 5px;
}

.advanced-search-form {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #051929;
    background-color: #ede4d5;
    margin-top: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 15px 70px;
}

.advanced-search-content .input-block:not(:first-child) {
    margin-left: 230px;
}

.advanced-search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}

form {
    height: 100%;
}

/*--------------ADVANCED MOVIE SEARCH PAGE----------------*/

.movie-screening-content {
    margin: 20px 100px;
}

.movie-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: Calibri, sans-serif;
    color: #051929;
    flex: 1;
    margin-top: 30px;
}

.movie-info-summary {
    width: 80%;
}

.movie-summary {
    display: flex;
    flex-direction: column;
    background-color: #ede4d5;
    height: 250px;
    width: 680px;
    padding: 30px;
    margin: 0 40px;

}

.movie-summary h1 {
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #D13A00;
    border-bottom: 3px solid #D89747;
    padding-bottom: 5px;
}

.movie-image img {
    height: 250px;
    width: 180px;
    background-color: #051929;
    border-radius: 10px;
}


.general-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 100%;
    border-left: 3px solid #D89747;
}

/*.general-info span {*/
/*    flex: 1;*/
/*}*/

.movie-screenings {
    margin: 30px 0;
    font-family: Calibri, sans-serif;
    color: #051929;
}

.movie-screenings h1 {
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: #D13A00;
    border-bottom: 3px solid #D89747;
    padding-bottom: 5px;
}


.screening-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    background-color: #ede4d5;
}

.screening-row > div:not(:last-child) {
    margin-right: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex: 2;
}

.order-button {
    display: flex;
    justify-content: flex-end;
    flex: 6;
}

.order-button button {
    background-color: #74BFB5;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 100px;
    height: 30px;
}

/*--------------SIGN IN PAGE-------------*/
.sign-in-box-container {
    border: 10px #ccc;
    margin: 70px;
    height: calc(100% - 160px - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-box {
    background-color: #ede4d5;
    padding: 20px;
    border-radius: 2px;
    max-width: 400px;
    margin: 0 auto;
    line-height: 30px;

}

.sign-in-box label {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: #051929;

}

.sign-in-box input {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;
    padding-right: 150px;
    border: none;

}

.sign-in-box h1 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #051929;

}

.sign-in-box button {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 15px;
    border-radius: 5px;
    background-color: #051929;
    color: #f2f2f2;
    border: none;
    margin-left: 270px;
    padding: 4px 18px 4px 18px;
}

.sign-in-box p {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #051929;

}

.sign-in-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sign-in-button input {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 15px;
    border-radius: 5px;
    background-color: #051929;
    color: #f2f2f2;
    border: none;
    margin-left: 270px;
    padding: 4px 18px 4px 18px;
    width: 100px

}

/*--------------SIGN IN PAGE-------------*/

/*--------------REGISTER PAGE-------------*/
.register-container {
    border: 10px #ede4d5;
    margin: 70px;
    height: calc(100% - 160px - 140px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.register-box {
    background-color: #ede4d5;
    padding: 20px;
    border-radius: 2px;
    max-width: 400px;
    margin: 0 auto;
    line-height: 40px;
}

.register-box label {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin-right: 10px;
    display: inline-block;
    width: 70px;
    color: #051929;


}

.register-box button {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 15px;
    border-radius: 5px;
    background-color: #051929;
    color: #f2f2f2;
    border: none;
    margin-left: 270px;
    padding: 4px 18px 4px 18px;
}

.register-box input {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;
    border: none;
    width: 230px;
}

.register-box h1 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #051929;
}

/*--------------REGISTER PAGE-------------*/

/*--------------ContactUs PAGE-------------*/
.contact-us-container {
    border: 10px #ede4d5;
    margin: 70px;
    height: calc(100% - 160px - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-box {
    background-color: #ede4d5;
    padding: 20px;
    border-radius: 2px;
    max-width: 400px;
    margin: 0 auto;
    line-height: 30px;
}

.contact-us-box label {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;
    display: inline-block;
    width: 80px;
    color: #051929;

}

.contact-us-box input {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;
    border: none;
    width: 230px;

}

.contact-us-box button {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 15px;
    border-radius: 5px;
    background-color: #051929;
    color: #f2f2f2;
    border: none;
    margin-left: 270px;
    padding: 4px 18px 4px 18px;

}

.contact-us-box h1 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #051929;
}

.contact-us textarea {
    border: none;
}

/*--------------ContactUs PAGE-------------*/


/*--------------ORDER PAGE----------------*/

.order-content {
    padding: 30px 70px;

}

.order-movie-information {
    display: flex;
    flex-direction: column;
    background-color: #ede4d5;
    padding: 30px;
    font-family: Calibri, sans-serif;
}

.order-movie-information-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

}

.order-movie-information h1 {
    font-weight: bolder;
    font-size: 24px;
    color: #D13A00;
}

.order-movie-information-title p {
    margin-left: 20px;
    font-size: 2em;

}

.left-to-right {
    animation: slideInLeft 1s ease-in-out forwards;
}

.right-to-left {
    animation: slideInRight 1s ease-in-out forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.screening-summary {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    border-top: 3px solid #D89747;

}

.screening-summary div {
    display: flex;
    flex-direction: column;
    padding: 5px 30px 0 30px;
}

.screening-summary div label {
    color: #D13A00;
    margin-bottom: 10px;
    font-weight: bolder;
    text-decoration: underline;

}

.order-tickets {
    margin: 15px 0;
    background-color: #ede4d5;
    padding: 30px;
    font-family: Calibri, sans-serif;
    color: #051929;
}

.order {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: flex-start;
    justify-content: space-between;
}

.choose-seats-title {
    width: 70%;
}

.order-summary-title {
    width: 25%;
}

.section-name {
    padding: 0 10px;
}

.section-title {
    display: flex;
    flex-direction: row;
    background-color: #051929;
    color: #ede4d5;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    height: 36px;
}

.step-number {
    width: 20%;
    border-right: 1px solid #ede4d5;
}

.seats {
    flex: 1;
}

.choose-seats-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 10px;
    height: 200px;
    margin: 15px 0;
}

.choose-seats-section label {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-right: 1px;
}

.number-of-seats input {
    width: 20%;
}

.summarize-order {
    flex: 2;
    margin: 0 10px;
}

.summarize-order-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    margin: 15px 0;
    height: 200px;
    width: 450px;
}

.payment-order {
    flex: 1;
}
.payment-order-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    height: 200px;
    width: 330px;
}

.clear-button {
    background-color: #74BFB5;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 100px;
    height: 30px;
}

.pay-button {
    background-color: #74BFB5;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 100px;
    height: 30px;
}

.add-seats-button button {
    background-color: #74BFB5;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    width: 50px;
    height: 30px;
    border: none;
}


.choice-number {
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Dark gray color */
    margin: 0 5px; /* Add a small margin to separate it from the number */
}

.selected {
    margin: 0 5px;
}

.user-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;


}
.payment-order-section p {
    font-size: 15px;
    font-weight: bolder;
    margin: 10px;




}

/*--------------ORDER PAGE----------------*/


/*-----------------My Account Page---------------------*/

.order-history {
    background-color: #ede4d5;
    display: flex;
    flex-direction: column;
    padding: 100px 400px;
    height: calc(100% - 160px);
    justify-content: center;
    align-items: center;
}

.order-history-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.order-history h2 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
    background: #051929;
    color: #ede4d5;
    padding: 10px;
    text-align: center;
    width: 400px;


}


.order-date {
    display: flex;
    flex-direction: column;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;


}

.order-number {
    display: flex;
    flex-direction: column;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;

}

.order-amount {
    display: flex;
    flex-direction: column;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 17px;

}

.order-history h3 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #051929;
    border-bottom: 3px solid #D89747;
    padding-bottom: 5px;
    margin-bottom: 10px;
}



/*-----------------My Account Page---------------------*/



